/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-4-7, 14:50:28
    Author     : lee
*/

*{
	padding: 0;
	margin:0;
	font-family: '黑体';
} 

img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

body{
    background-color: #ffda47;
}

.absol{
	position: absolute;
}

#mainPanel{
    background-color: orange;
}

#shareBt{
    background-color: #ff7800;
    border-radius:30px;
    border:none;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    display: table-cell;
    vertical-align:middle;
    pointer-events: auto;
}