*{
	font-family: '黑体';
} 
img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.absol{
	position: absolute;
        left:-1000px;
        top:-1000px;
}
.button{
	pointer-events: auto;
}


body{
    background-color: #ffda47;
}
input-webkit-autofill{
    display: inline-block;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    background: transparent;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
input{
    font-size: 1.5rem;
    background: transparent;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
}
#signup{
    background-color: #ff7800;
    border-radius:30px;
    border:none;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    display: table-cell;
    vertical-align:middle;
}
#signin{
    color: #ABA8AE;
}